#print_product_info_pdf {
	margin-bottom: 20px;
	background: #0f2eba;
	padding: 10px;
    display: none;
    text-align: center;
}
#print_product_info_pdf p{
    color: #fff;
    font-size: 25px;
}#print_product_info_pdf a.logo{
	margin: 0 auto;
	display: block;
}
 #print_product_info_copyrignt{
     margin-top: 30px;
     display: none;
 }


 img.image_for_printer{
     display: none;
 }

img.image_for_printer:first-child{
    opacity: 1;
    display: block;
    border: 1px solid #e7e5e5 !important;
}

img.image_thumb_for_printer{
    opacity: 1;
}